.App {
  text-align: center;
  height: 100vh;
  background-color: #fdedff;
}

.main {
  width: 100%;
  text-align: left;
  background-color: #fdedff;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  width: 550px;
  max-width: 95%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.inpute {
  width: 400px;
  max-width: 95%;
  border: none;
  padding: 10px;
  border-radius: 2px;
  border-bottom: 3px solid black;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}